html {
  --c-primary: #555;
  --c-secondary: #333;
  --c-bg: #fff;

  --c-scrollbar: rgb(163 163 163 / 0.2);
  --c-scrollbar-bg: rgb(163 163 163 / 0.1);
  --c-scrollbar-hover: rgb(163 163 163 / 0.3);
}

html.dark {
  --c-primary: #fff;
  --c-secondary: #333;
  --c-bg: #000;
}
